/* line 26, ../../../source/resources/sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../../../source/resources/sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../../../source/resources/sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* line 20, ../../../source/resources/sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../../../source/resources/sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../../../source/resources/sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../../../source/resources/sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../../../source/resources/sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../../../source/resources/sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../../../source/resources/sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../../../source/resources/sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../../../source/resources/sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../../../source/resources/sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../../../source/resources/sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../../../source/resources/sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../../../source/resources/sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../../../source/resources/sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../../../source/resources/sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../../../source/resources/sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../../../source/resources/sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../../../source/resources/sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../../../source/resources/sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../../../source/resources/sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../../../source/resources/sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../../../source/resources/sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../../../source/resources/sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../../../source/resources/sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../../../source/resources/sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../../../source/resources/sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../../../source/resources/sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../../../source/resources/sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../../../source/resources/sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../../../source/resources/sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../../../source/resources/sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../../../source/resources/sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../../../source/resources/sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../../../source/resources/sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../../../source/resources/sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../../../source/resources/sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../../../source/resources/sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../../../source/resources/sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../../../source/resources/sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../../../source/resources/sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../../../source/resources/sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../../../source/resources/sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../../../source/resources/sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../../../source/resources/sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../../../source/resources/sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../../../source/resources/sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../../../source/resources/sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../../../source/resources/sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../../../source/resources/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../../../source/resources/sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../../../source/resources/sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../../../source/resources/sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../../../source/resources/sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../../../source/resources/sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../../../source/resources/sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../../../source/resources/sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../../../source/resources/sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../../../source/resources/sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../../../source/resources/sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../../../source/resources/sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 240, ../../../source/resources/sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 241, ../../../source/resources/sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 242, ../../../source/resources/sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 243, ../../../source/resources/sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 244, ../../../source/resources/sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 245, ../../../source/resources/sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 246, ../../../source/resources/sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 247, ../../../source/resources/sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 249, ../../../source/resources/sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 250, ../../../source/resources/sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../../../source/resources/sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* RESPONSIVE IMAGES */
/* line 18, ../../../source/resources/sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 25, ../../../source/resources/sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 33, ../../../source/resources/sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 36, ../../../source/resources/sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 41, ../../../source/resources/sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 46, ../../../source/resources/sass/_smallest.scss */
p.center {
  text-align: center;
}

/* line 49, ../../../source/resources/sass/_smallest.scss */
.header {
  background: #391b11 url("/resources/img/header.jpg") no-repeat center;
  background-size: cover;
  padding: 10em 0 13em;
  transform: none;
  position: relative;
  text-align: center;
}
/* line 56, ../../../source/resources/sass/_smallest.scss */
.header ul {
  margin-top: 2em;
}
/* line 58, ../../../source/resources/sass/_smallest.scss */
.header ul li {
  display: inline;
  margin-right: 2em;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100;
}
/* line 64, ../../../source/resources/sass/_smallest.scss */
.header ul li:last-child {
  margin-right: 0;
}
/* line 67, ../../../source/resources/sass/_smallest.scss */
.header ul li a {
  color: white;
}
/* line 69, ../../../source/resources/sass/_smallest.scss */
.header ul li a:visited {
  color: white;
}
/* line 75, ../../../source/resources/sass/_smallest.scss */
.header .content {
  transform: none;
}
/* line 78, ../../../source/resources/sass/_smallest.scss */
.header .logo {
  position: absolute;
  right: 2em;
  top: 2em;
}

/* line 86, ../../../source/resources/sass/_smallest.scss */
.container-fluid .center {
  margin-bottom: 5em;
}

/* line 94, ../../../source/resources/sass/_smallest.scss */
.about .glass {
  margin-top: -25px;
  text-align: center;
  margin-bottom: 2em;
}
/* line 99, ../../../source/resources/sass/_smallest.scss */
.about .hops {
  width: 80%;
  margin: 2em auto 0;
}

/* line 109, ../../../source/resources/sass/_smallest.scss */
section .content .title {
  margin-bottom: 3em;
}

/* line 115, ../../../source/resources/sass/_smallest.scss */
.callout {
  background: #391b11 url("/resources/img/header.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
/* line 120, ../../../source/resources/sass/_smallest.scss */
.callout .video_background {
  position: fixed;
  top: 0;
  left: 0px;
  width: auto;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  -webkit-transform: translateZ(0);
}
/* line 131, ../../../source/resources/sass/_smallest.scss */
.callout .bug {
  margin-bottom: 1em;
  width: 100px;
}
/* line 135, ../../../source/resources/sass/_smallest.scss */
.callout h2 {
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
/* line 140, ../../../source/resources/sass/_smallest.scss */
.callout .content {
  width: 90%;
  margin: auto;
  padding: 6em 0;
}

/* line 148, ../../../source/resources/sass/_smallest.scss */
section {
  background-color: white;
  transform: skewY(-2.5deg);
}
/* line 149, ../../../source/resources/sass/_smallest.scss */
section:nth-child(2) {
  margin-top: -100px;
  z-index: 1000;
}
/* line 155, ../../../source/resources/sass/_smallest.scss */
section .content {
  transform: skewY(2.5deg);
}

/* line 160, ../../../source/resources/sass/_smallest.scss */
.background {
  background: white url("/resources/img/tan-bg.png") repeat-x top center;
}

/* line 167, ../../../source/resources/sass/_smallest.scss */
.submit .content {
  text-align: center;
  padding: 2em 0;
}
/* line 170, ../../../source/resources/sass/_smallest.scss */
.submit .content h3 {
  margin: 0 0 5px;
  line-height: 1;
}
/* line 174, ../../../source/resources/sass/_smallest.scss */
.submit .content h4 {
  margin: 0 0 2em;
}
/* line 177, ../../../source/resources/sass/_smallest.scss */
.submit .content p {
  text-align: left;
  margin: 0 auto;
}

/* line 183, ../../../source/resources/sass/_smallest.scss */
.sponsors {
  margin-top: 8em;
  padding: 0 1em;
}
/* line 187, ../../../source/resources/sass/_smallest.scss */
.sponsors ul li {
  float: left;
  width: 47.5%;
  text-align: center;
}
/* line 326, ../../../source/resources/sass/_mixins.scss */
.sponsors ul li:nth-child(n) {
  margin-bottom: 5%;
  margin-right: 5%;
}
/* line 330, ../../../source/resources/sass/_mixins.scss */
.sponsors ul li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 191, ../../../source/resources/sass/_smallest.scss */
.sponsors ul li a {
  height: 200px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 196, ../../../source/resources/sass/_smallest.scss */
.sponsors ul li a:hover {
  opacity: 0.8;
  filter: alpha(opacity=0.8);
}
/* line 199, ../../../source/resources/sass/_smallest.scss */
.sponsors ul li a img {
  width: 100%;
}

/* line 209, ../../../source/resources/sass/_smallest.scss */
.event .content {
  padding: 2em 0;
}
/* line 212, ../../../source/resources/sass/_smallest.scss */
.event .content .info p {
  color: #c19531;
}

/* line 220, ../../../source/resources/sass/_smallest.scss */
.footer {
  background-color: #676666;
  padding: 2em 1em;
  transform: none;
  z-index: 900;
  position: relative;
  text-align: center;
}
/* line 227, ../../../source/resources/sass/_smallest.scss */
.footer * {
  color: #9b9b9b;
}
/* line 230, ../../../source/resources/sass/_smallest.scss */
.footer .content {
  text-align: right;
  transform: none;
  position: relative;
}
/* line 234, ../../../source/resources/sass/_smallest.scss */
.footer .content * {
  margin: 0;
}
/* line 237, ../../../source/resources/sass/_smallest.scss */
.footer .content img {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 420px;
}

/* line 251, ../../../source/resources/sass/_smallest.scss */
.button {
  color: white;
  padding: 10px 40px;
  font-family: "brave", serif;
  text-transform: uppercase;
  background-color: #c19531;
  border-radius: 5px;
  display: inline-block;
  margin: 1em 0;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}
/* line 264, ../../../source/resources/sass/_smallest.scss */
.button:visited {
  color: white;
}
/* line 267, ../../../source/resources/sass/_smallest.scss */
.button:hover {
  background-color: #473712;
}

/* FOOTER */
/* BUTTON */
/* line 282, ../../../source/resources/sass/_smallest.scss */
.submit *, .about *, .event *, .callout * {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

/* line 1, ../../../source/resources/sass/_400.scss */
.test {
  text-decoration: underline;
}

/* line 1, ../../../source/resources/sass/_480.scss */
section {
  padding: 2em 0;
}

/* line 1, ../../../source/resources/sass/_768.scss */
section {
  padding: 2em 0;
}

/* line 7, ../../../source/resources/sass/_768.scss */
.sponsors ul li {
  float: left;
  width: 32%;
}
/* line 326, ../../../source/resources/sass/_mixins.scss */
.sponsors ul li:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../../../source/resources/sass/_mixins.scss */
.sponsors ul li:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 19, ../../../source/resources/sass/_768.scss */
.header {
  background-attachment: fixed;
  background-size: cover;
  padding: 10em 0 13em;
  transform: none;
}
/* line 24, ../../../source/resources/sass/_768.scss */
.header ul {
  margin-top: 2em;
}
/* line 26, ../../../source/resources/sass/_768.scss */
.header ul li {
  display: inline;
  margin-right: 2em;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
}
/* line 32, ../../../source/resources/sass/_768.scss */
.header ul li:last-child {
  margin-right: 0;
}
/* line 35, ../../../source/resources/sass/_768.scss */
.header ul li a {
  color: white;
}
/* line 37, ../../../source/resources/sass/_768.scss */
.header ul li a:visited {
  color: white;
}
/* line 43, ../../../source/resources/sass/_768.scss */
.header .content {
  transform: none;
}
/* line 46, ../../../source/resources/sass/_768.scss */
.header .logo {
  position: absolute;
  right: 2em;
  top: 2em;
}

/* line 54, ../../../source/resources/sass/_768.scss */
.container-fluid .center {
  margin-bottom: 5em;
}

/* line 61, ../../../source/resources/sass/_768.scss */
.about .glass {
  margin-top: -75px;
  margin-bottom: 10em;
}

/* line 71, ../../../source/resources/sass/_768.scss */
section .content .title {
  margin-bottom: 3em;
}

/* line 77, ../../../source/resources/sass/_768.scss */
.callout {
  background: #391b11 url("/resources/img/header.jpg") no-repeat center;
  background-attachment: fixed;
}
/* line 80, ../../../source/resources/sass/_768.scss */
.callout .video_background {
  width: 100%;
  height: auto;
  -webkit-transform: translateZ(0);
}
/* line 86, ../../../source/resources/sass/_768.scss */
.callout h2 {
  font-size: 47px;
}
/* line 89, ../../../source/resources/sass/_768.scss */
.callout .content {
  width: 50%;
}

/* line 97, ../../../source/resources/sass/_768.scss */
.submit .content {
  padding: 10em 0;
}
/* line 99, ../../../source/resources/sass/_768.scss */
.submit .content p {
  width: 50%;
}

/* line 106, ../../../source/resources/sass/_768.scss */
.event .content {
  padding: 10em 0 5em;
}

/* line 112, ../../../source/resources/sass/_768.scss */
.footer {
  padding: 2em 0;
  text-align: right;
}
/* line 116, ../../../source/resources/sass/_768.scss */
.footer .content img {
  display: inline-block;
}

/* line 126, ../../../source/resources/sass/_768.scss */
.button {
  font-size: 34px;
}

/* line 3, ../../../source/resources/sass/_940.scss */
.sponsors ul li {
  float: left;
  width: 23.5%;
}
/* line 326, ../../../source/resources/sass/_mixins.scss */
.sponsors ul li:nth-child(n) {
  margin-bottom: 2%;
  margin-right: 2%;
}
/* line 330, ../../../source/resources/sass/_mixins.scss */
.sponsors ul li:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}
