section {
	padding:2em 0;
}

.sponsors {
  ul {
    li {
      float:left;
      @include rowGrid(3, 2%);
      
      
    }
  }
}




.header {
  background-attachment: fixed;
  background-size:cover;
  padding:10em 0 13em;
  transform:none;
  ul {
    margin-top: 2em;
    li {
      display: inline;
      margin-right:2em;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 100;
      &:last-child {
        margin-right:0;
      }
      a {
        color:white;
        &:visited {
          color:white;
        }
      }
    }
  }
  .content{
    transform:none;
  }
  .logo {
    position: absolute;
    right:2em;
    top:2em;
  }
}

.container-fluid {
   .center {
      margin-bottom:5em;
    }
  }


.about {
  .glass {
    margin-top:-75px;
    margin-bottom: 10em;
  }

}

section {
  .content {

    .title {
      margin-bottom: 3em;
    }
  }
}

.callout {
  background: $brown url('/resources/img/header.jpg') no-repeat center;
  background-attachment: fixed;
  .video_background {
    width: 100%;
    height:auto;
    -webkit-transform: translateZ(0);

	}
  h2 {
    font-size: 47px;
  }
  .content {
    width:50%;
  }
}


.submit {

  .content {
    padding:10em 0;
    p {
      width:50%;
    }
  }
}

.event {
  .content {
    padding:10em 0 5em;

  }
}

.footer {
  padding:2em 0;
  text-align: right;
  .content {
    img {
    	display: inline-block;

    }
  }
}




.button {
  font-size: 34px;
}


