@font-face {
  font-family: 'abegnale';
  src: url('../../abegnale-webfont.eot?v=4.4.0');
  src: url('../../abegnale-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), 
  url('../../abegnale-webfont.woff2?v=4.4.0') format('woff2'), 
  url('../../abegnale-webfont.woff?v=4.4.0') format('woff'), 
  url('../../abegnale-webfont.ttf?v=4.4.0') format('truetype'), 
  url('../../abegnale-webfont.svg?v=4.4.0#abegnale-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brave';
  src: url('../../brave-webfont.eot?v=4.4.0');
  src: url('../../brave-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), 
  url('../../brave-webfont.woff2?v=4.4.0') format('woff2'), 
  url('../../brave-webfont.woff?v=4.4.0') format('woff'), 
  url('../../brave-webfont.ttf?v=4.4.0') format('truetype'), 
  url('../../brave-webfont.svg?v=4.4.0#brave-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}