* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
 font-smoothing: antialiased;


}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */


.wrap {
  max-width: 940px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}
p.center {
  text-align: center;
}
.header {
  background: $brown url('/resources/img/header.jpg') no-repeat center;
  background-size:cover;
  padding:10em 0 13em;
  transform:none;
  position: relative;
  text-align: center;
  ul {
    margin-top: 2em;
    li {
      display: inline;
      margin-right:2em;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 100;
      &:last-child {
        margin-right:0;
      }
      a {
        color:white;
        &:visited {
          color:white;
        }
      }
    }
  }
  .content{
    transform:none;
  }
  .logo {
    position: absolute;
    right:2em;
    top:2em;
  }
}

.container-fluid {
   .center {
      margin-bottom:5em;

    }
  }


.about {
  .glass {
    margin-top:-25px;
    text-align: center;
    margin-bottom: 2em;
  }
  .hops {
    width:80%;
    margin:2em auto 0;
  }

}

section {
  .content {

    .title {
      margin-bottom: 3em;
    }
  }
}

.callout {
  background: $brown url('/resources/img/header.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  overflow:hidden;
  .video_background {
        position: fixed;
    top:0;
    left: 0px;
    width: auto;
    height:100%;
    z-index: -2;
    overflow: hidden;
    -webkit-transform: translateZ(0);

}
  .bug {
    margin-bottom: 1em;
    width:100px;
  }
  h2 {
    color:white;
    text-transform: uppercase;
    font-size: 30px;
  }
  .content {
    width:90%;
    margin:auto;
  padding:6em 0;

  }
}

section {
  &:nth-child(2) {
    margin-top:-100px;
    z-index:1000;
  }
  background-color: white;
  transform:skewY(-2.5deg);
  .content {
    transform:skewY(2.5deg);
  }
}

.background {
  background: white url('/resources/img/tan-bg.png')repeat-x top center;

}

.submit {

  .content {
    text-align: center;
    padding:2em 0;
    h3 {
      margin:0 0 5px;
      line-height: 1;
    }
    h4 {
      margin:0 0 2em;
    }
    p {
      text-align: left;
      margin:0 auto;
    }
  }
}
.sponsors {
  margin-top: 8em;
  padding:0 1em;
  ul {
    li {
      float:left;
      @include rowGrid(2, 5%);
      text-align: center;
      a {
        height:200px;
        display: table-cell;
        vertical-align:middle;
        width:100%;
        &:hover {
          @include opacity(.8);
        }
        img {
          width:100%;
        }
      }
      
    }
  }
}

.event {
  .content {
    padding:2em 0;
    .info {
      p {
        color:$gold;
      }
    }

  }
}

.footer {
  background-color: #676666;
  padding:2em 1em;
  transform:none;
  z-index:900;
  position: relative;
  text-align: center;
  * {
    color:#9b9b9b;
  }
  .content {
    text-align: right;
    transform:none;
    position: relative;
    * {
      margin: 0;
    }
    img {
      display: none;
       position: absolute;
      left: 0;
      bottom: 0;
      width: 420px;

    }
  }
}




.button {
  color:white;
  padding:10px 40px;
  font-family: $heading;
  text-transform: uppercase;
  background-color: $gold;
  border-radius:5px;
  display: inline-block;
  margin:1em 0;
  font-size: 20px;
  letter-spacing:2px;
  text-align: center;

  &:visited {
    color:white;
  }
  &:hover {
    background-color: darken($gold, 30%);
  }
}
/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.submit,.about,.event, .callout {
  * {
    backface-visibility: hidden;
 -webkit-backface-visibility: hidden;
 -moz-backface-visibility: hidden;
  }
}


