body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1 {
  margin: 0 0 10px 0;

  font-size: 30px;
  font-weight: 400;
  line-height: 1;

  color: $neutral;
}

h3 {
  text-transform: uppercase;
  font-size: 47px;
  color:$primary;
  margin: 0 0 5px;
  line-height: 1;
}

h4 {
  text-transform: uppercase;
  font-family: $body;
  color:$gold;
}

/* PARAGRAPH */

p,li {
  font-family: $body;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color:$primary;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}