// COLOR PALETTE
$primary: #4b4b4b;
$secondary: #142E4A;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$brown: #391b11;
$gold: #c19531;

// FONT STACKS
$heading: 'brave',serif;
$body: 'abegnale',serif;